@font-face {
    font-family: MFBOldStyle;
    src: url('MFBOldstyle-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MFBOldStyle;
    src: url('MFBOldstyle-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: MFBOldStyle;
    src: url('MFBOldstyle-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: MonaspaceXenon;
    src: url('MonaspaceXenon-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MonaspaceXenon;
    src: url('MonaspaceXenon-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: MonaspaceXenon;
    src: url('MonaspaceXenon-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family : MFBOldStyle;
}

code, tt {
    font-family: MonaspaceXenon;
}