@font-face {
    font-family: OldStandard;
    src: url('MFBOldstyle-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OldStandard;
    src: url('MFBOldstyle-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: OldStandard;
    src: url('MFBOldstyle-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Xenon ; src: url('MonaspaceXenon-Light.woff2');
}

body {
    font-family : OldStandard;
}

code, tt {
    font-family: Xenon;
}